[submodule "bundle/vim-fireplace"]
	path = pack/default/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "bundle/vim-python-pep8-indent"]
	path = pack/default/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "bundle/vim-fugitive"]
	path = pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/ale"]
	path = pack/default/start/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-sexp"]
	path = pack/default/start/vim-sexp
	url = git@github.com:guns/vim-sexp.git
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = pack/default/start/vim-sexp-mappings-for-regular-people
	url = git@github.com:tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/vim-vinegar"]
	path = pack/default/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "lake"]
	path = lake
	url = git@github.com:chopptimus/lake
